@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container_n {
  max-width: 948px;
  margin: 0 auto;
}

.container_o {
  max-width: 1000px;
  margin: 0 auto;
}

.container_f {
  max-width: 1876px;
  margin: 0 auto;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 4;
  background: #212121;
  height: 50px;
}

.menu__nav {
  padding: 15px 0 0 0;
}

.menu__content {
  z-index: 3;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu__burger {
  display: none;
}

.menu__burger span {
  display: block;
  height: 2px;
  background-color: #fff;
  margin: 0 0 3px 0;
  transition: all 0.5s;
}

.menu__burger_active span {
  margin: 0 0 -2px 0;
}

.menu__burger_active span:nth-child(1) {
  transform: rotate(-45deg);
}

.menu__burger_active span:nth-child(2) {
  display: none;
}

.menu__burger_active span:nth-child(3) {
  transform: rotate(45deg);
}

.menu__item {
  border-right: 2px dotted black;
  padding: 0 28px 0 0;
}

.menu__item:last-child {
  border: none;
  padding: 0;
}

.menu__link {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.submenu {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1;
  padding: 17px 0 10px 0;
  background: rgba(0, 0, 0, 0.6);
  height: 80px;
}

.submenu__row {
  display: flex;
  justify-content: space-between;
}

.submenu__column {
  color: #FFFFFF;
}

.submenu__img {
  display: block;
  margin: 0 0 5px 0;
}

.submenu__img img {
  max-width: 100%;
}

.submenu__text {
  font-weight: 300;
  font-size: 13px;
}

.submenu__body {
  width: 362px;
  display: flex;
  justify-content: space-between;
}

.submenu__item:first-child {
  width: 168px;
  text-align: right;
}

.submenu__call {
  margin: 0 0 12px 0;
  font-weight: 300;
  font-size: 12px;
}

.submenu__phone {
  font-size: 22px;
  color: #fff;
}

.submenu__btn {
  width: 172px;
}

.btn {
  display: block;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
  position: relative;
  width: 100%;
  top: 50px;
  padding: 150px 0 183px 0;
  background: url("../img/Promo/uber_bg.jpg") center center/cover no-repeat;
  color: #FFFFFF;
}

.promo__header {
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.promo__subheader {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.promo__text {
  margin: 0 0 115px 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.promo__text p {
  margin: 0 0 30px 0;
}

.promo__text p:last-child {
  margin: 0;
}

.promo__btn {
  margin: 0 auto;
  width: 260px;
  height: 63px;
  font-size: 18px;
  line-height: 63px;
}

.reasons {
  padding: 104px 0 64px 0;
}

.reasons__header {
  margin: 0 0 20px 0;
}

.reasons__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reasons__column {
  margin: 0 0 30px 0;
  width: 512px;
}

.reasons__column:nth-child(7) {
  margin: 0;
}

.reasons__column:nth-child(8) {
  margin: 0;
}

.reasons__body {
  display: flex;
  justify-content: space-between;
}

.reasons__content:first-child {
  width: 116px;
}

.reasons__content:last-child {
  width: 370px;
}

.reasons__round {
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background: #1EACC7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reasons__subheader {
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

.reasons__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.title {
  margin: 0 auto 35px auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-size: 11px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
}

.mobile {
  padding: 50px 0 80px 0;
  background: url("../img/Mobile/mobile_bg.jpg") center center/cover no-repeat;
}

.mobile__header {
  margin: 0 0 20px 0;
}

.mobile__text {
  margin: 0 0 30px 0;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.mobile__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mobile__column {
  width: 320px;
  margin: 0 0 20px 0;
}

.mobile__column:nth-child(1) {
  background: url("../img/Mobile/1.jpg");
}

.mobile__column:nth-child(2) {
  background: url("../img/Mobile/2.jpg");
}

.mobile__column:nth-child(3) {
  background: url("../img/Mobile/3.jpg");
}

.mobile__column:nth-child(4) {
  margin: 0;
  background: url("../img/Mobile/4.jpg");
}

.mobile__column:nth-child(5) {
  margin: 0;
  background: url("../img/Mobile/5.jpg");
}

.mobile__column:nth-child(6) {
  margin: 0;
  background: url("../img/Mobile/6.jpg");
}

.mobile__item {
  padding: 88.5px 0 34px 0;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__subheader {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile__round {
  position: relative;
  margin: 0 auto;
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 100%;
}

.mobile__round::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  right: 14px;
  top: 7px;
  transition: all 0.5s;
}

.mobile__round::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  right: 8px;
  top: 13px;
  transition: all 0.5s;
}

.mobile__round:hover {
  cursor: pointer;
}

.mobile__round:hover::after {
  background-color: #FF5656;
}

.mobile__round:hover::before {
  background-color: #FF5656;
}

.car {
  padding: 60px 0 137px 0;
  background: url("../img/Car/bg.jpg") center 521px no-repeat, #070716;
}

.car__title {
  background-color: #fff;
  color: #000;
}

.car__header {
  margin: 0 0 20px 0;
  color: #fff;
}

.car__text {
  margin: 0 0 55px 0;
  font-size: 17px;
  text-align: center;
  color: #fff;
}

.car__img {
  display: block;
  max-width: 759px;
  margin: 0 auto;
}

.car__img img {
  max-width: 100%;
}

.car__descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.conditions {
  padding: 68px 0 88px 0;
}

.conditions__header {
  margin: 0 0 33px 0;
}

.conditions__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.conditions__column {
  margin: 0 0 60px 0;
  width: 507px;
}

.conditions__column:nth-child(3) {
  margin: 0;
}

.conditions__column:nth-child(4) {
  margin: 0;
}

.conditions__subheader {
  margin: 0 0 20px 0;
  font-size: 22px;
  color: #1CA8C3;
}

.conditions__subheader_r {
  color: #FF5656;
}

.conditions__list {
  padding: 0 0 0 20px;
}

.conditions__list_m {
  margin: 0 0 25px 0;
}

.conditions__item {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  padding: 0 0 10px 35px;
}

.conditions__item:last-child {
  padding: 0 0 0 35px;
}

.conditions__item::before {
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  background: url("../img/Conditions/blue.png");
  position: absolute;
  top: 3px;
  left: 0;
}

.conditions__item_r::before {
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  background: url("../img/Conditions/red.png");
  position: absolute;
  top: 3px;
  left: 0;
}

.conditions__descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
}

.world {
  padding: 50px 0;
  background: url("../img/World/bg.jpg") center center/cover no-repeat;
}

.world__title {
  background-color: #fff;
  color: #000;
}

.world__header {
  margin: 0 0 20px 0;
  color: #fff;
}

.world__text {
  margin: 0 0 483px 0;
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
}

.world__link {
  display: block;
  width: 223px;
  margin: 0 auto;
  font-size: 15px;
  text-transform: uppercase;
  color: #1FBAD6;
}

.footer {
  padding: 0 0 30px 0;
}

.footer__divider {
  margin: 0 auto 30px auto;
  max-width: 301px;
  height: 3px;
  background: #1FBAD6;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__column:nth-child(1) {
  width: 156px;
}

.footer__column:nth-child(2) {
  margin: 0 0 0 140px;
  max-width: 420px;
}

.footer__column:nth-child(3) {
  width: 296px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__round {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #070716;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  color: #fff;
}

.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__items {
  margin: 0 0 10px 0;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.footer__black {
  font-weight: 300;
  font-size: 15px;
  align-items: center;
  text-transform: uppercase;
  color: #070716;
}

.footer__links {
  margin: 0 0 10px 0;
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.footer__silver {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}

.footer__russia {
  font-size: 11px;
  text-transform: uppercase;
  color: #1FBAD6;
}

@media (max-width: 1140px) {
  .container {
    max-width: 970px;
  }

  .reasons__row {
    justify-content: space-around;
  }

  .reasons__column {
    width: 400px;
  }

  .reasons__content:last-child {
    width: 270px;
  }

  .conditions__column {
    width: 450px;
  }
}

@media (max-width: 1010px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .footer__column:nth-child(1) {
    margin: 0 0 30px 0;
  }

  .footer__column:nth-child(2) {
    margin: 0 0 30px 0;
  }

  .footer__column_1 {
    order: 2;
  }

  .footer__column_2 {
    order: 1;
  }

  .footer__column_3 {
    order: 3;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .menu__item {
    padding: 0 17px 0 0;
  }

  .menu__link {
    font-size: 13px;
  }

  .promo__header {
    font-size: 50px;
  }

  .promo__subheader {
    font-size: 30px;
  }

  .promo__text {
    font-size: 16px;
  }

  .reasons__column {
    width: 300px;
  }

  .reasons__body {
    flex-direction: column;
    align-items: center;
  }

  .reasons__content:first-child {
    margin: 0 0 20px 0;
  }

  .reasons__content:last-child {
    width: 300px;
  }

  .mobile__column:nth-child(4) {
    margin: 0 0 20px 0;
  }

  .conditions__column {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }

  .menu__content {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  .menu__content_active {
    left: 0;
  }

  .menu__burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
  }

  .menu__item {
    padding: 0;
    border: none;
    margin: 0 0 20px 0;
  }

  .menu__link {
    font-size: 20px;
  }

  .submenu {
    padding: 10px 0;
  }

  .submenu__row {
    justify-content: space-around;
  }

  .submenu__body {
    flex-direction: column;
    width: 180px;
  }

  .submenu__item:first-child {
    margin: 0 0 5px 0;
  }

  .submenu__call {
    display: none;
  }

  .submenu__phone {
    font-size: 18px;
  }

  .submenu__btn {
    height: 40px;
    line-height: 40px;
  }

  .reasons__column:nth-child(7) {
    margin: 0 0 30px 0;
  }

  .header {
    font-size: 28px;
  }

  .mobile__text {
    font-size: 15px;
  }

  .mobile__row {
    justify-content: center;
  }

  .mobile__column:nth-child(5) {
    margin: 0 0 20px 0;
  }

  .conditions__row {
    justify-content: center;
  }

  .conditions__column {
    width: 450px;
  }

  .conditions__column:nth-child(3) {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 368px;
  }

  .menu {
    height: 35px;
  }

  .menu__item {
    text-align: center;
  }

  .menu__link {
    font-size: 16px;
  }

  .submenu {
    top: 35px;
    height: 60px;
  }

  .submenu__column:first-child {
    width: 130px;
  }

  .submenu__text {
    display: none;
  }

  .submenu__body {
    width: 116px;
  }

  .submenu__item:first-child {
    width: 116px;
  }

  .submenu__phone {
    font-size: 12px;
    text-align: left;
  }

  .submenu__btn {
    width: 116px;
    height: 22px;
    line-height: 22px;
    font-size: 9px;
  }

  .promo {
    top: 35px;
  }

  .promo__header {
    font-size: 36px;
  }

  .promo__subheader {
    font-size: 24px;
  }

  .promo__text {
    font-size: 14px;
  }

  .reasons {
    padding: 70px 0 64px 0;
  }

  .header {
    font-size: 19px;
  }

  .car {
    padding: 60px 0;
    background: #070716;
  }

  .car__header {
    display: none;
  }

  .car__text {
    display: none;
  }

  .car__descr {
    color: #fff;
  }

  .footer__column:nth-child(2) {
    max-width: 320px;
  }

  .footer__items {
    max-width: 300px;
  }

  .footer__black {
    font-size: 14px;
  }

  .footer__links {
    max-width: 320px;
  }

  .footer__silver {
    font-size: 10px;
  }
}

@media (max-width: 368px) {
  .container {
    max-width: none;
  }

  .menu__content {
    width: 85%;
  }

  .submenu__img {
    padding: 20px 0 0 0;
  }

  .promo {
    padding: 150px 0 83px 0;
  }

  .promo__subheader {
    margin: 0 0 120px 0;
  }

  .promo__text {
    display: none;
  }

  .header {
    font-size: 16px;
  }
}

.webp .promo{ background: url(../img/Promo/uber_bg.webp) center center/cover no-repeat; }

.webp .mobile{ background: url(../img/Mobile/mobile_bg.webp) center center/cover no-repeat; }

.webp .mobile__column:nth-child(1){ background: url(../img/Mobile/1.webp); }

.webp .mobile__column:nth-child(2){ background: url(../img/Mobile/2.webp); }

.webp .mobile__column:nth-child(3){ background: url(../img/Mobile/3.webp); }

.webp .mobile__column:nth-child(4){ background: url(../img/Mobile/4.webp); }

.webp .mobile__column:nth-child(5){ background: url(../img/Mobile/5.webp); }

.webp .mobile__column:nth-child(6){ background: url(../img/Mobile/6.webp); }

.webp .car{ background: url(../img/Car/bg.webp) center 521px no-repeat, #070716; }

.webp .conditions__item::before{ background: url(../img/Conditions/blue.webp); }

.webp .conditions__item_r::before{ background: url(../img/Conditions/red.webp); }

.webp .world{ background: url(../img/World/bg.webp) center center/cover no-repeat; }