@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container_h {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 150px;
}

.header__burger {
  display: none;
}

.header__burger span {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header .active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header .active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header .active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header .active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 20px;
}

.header__list i {
  display: none;
  color: #fff;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
  position: relative;
  z-index: 2;
}

.header__img img {
  max-width: 20px;
  display: block;
}

.header__call {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #27282A;
  border-bottom: 1px solid #fff;
  z-index: 2;
}

.footer {
  padding: 0 0 15px 0;
  background-color: #27282A;
}

.footer__divider {
  margin: 0 0 15px 0;
  width: 100%;
  height: 2px;
  background-color: #9E9E9E;
}

.footer__link {
  max-width: 250px;
  margin: 0 auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item img {
  max-width: 50px;
}

.footer__logo {
  margin: 0 0 20px 0;
  text-align: center;
}

.footer__logo img {
  max-width: 150px;
}

.footer__text {
  text-align: center;
  font-size: 16px;
  color: #9E9E9E;
}

main {
  min-height: 81.2%;
}

.promo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about {
  padding: 100px 0 0 0;
  background-color: #27282A;
}

.about__logo {
  margin: 0 10px 50px 10px;
  display: block;
  text-align: center;
}

.about__logo img {
  max-width: 500px;
}

.about__header {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.about__subheader {
  color: #D9D8DA;
}

@media (max-width: 1140px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .header__logo img {
    max-width: 120px;
  }

  .header__link {
    font-size: 12px;
  }

  .header__phone {
    width: 141px;
  }

  .header__call {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #27282A;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 40px 0;
  }

  .header__list i {
    position: absolute;
    right: 0;
    display: inline-block;
  }

  .header__link {
    font-size: 18px;
  }

  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 368px;
  }

  .about__logo img {
    max-width: 100%;
  }
}

@media (max-width: 368px) {
  .container {
    max-width: none;
  }

  .header__logo img {
    max-width: 100px;
  }
}