@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container_h {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 150px;
}

.header__burger {
  display: none;
}

.header__burger span {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header .active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header .active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header .active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header .active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 20px;
}

.header__list i {
  display: none;
  color: #fff;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
  position: relative;
  z-index: 2;
}

.header__img img {
  max-width: 20px;
  display: block;
}

.header__call {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-bottom: 1px solid #fff;
  z-index: 2;
}

.footer {
  padding: 0 0 15px 0;
  background-color: #000;
}

.footer__divider {
  margin: 0 0 10px 0;
  width: 100%;
  height: 2px;
  background-color: #9E9E9E;
}

.footer__divider_2 {
  width: 100%;
  height: 2px;
  background-color: #9E9E9E;
}

.footer__link {
  top: -5px;
  position: relative;
  background-color: #000;
  max-width: 200px;
  margin: 0 auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__item img {
  max-width: 40px;
}

.footer__logo {
  margin: 0 0 20px 0;
  text-align: center;
}

.footer__logo img {
  max-width: 150px;
}

.footer__text {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #9E9E9E;
}

main {
  background-color: #000;
  min-height: 90%;
}

.promo {
  padding: 100px 0 70px 0;
  background-color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__content {
  padding: 0 10px;
}

.promo__header {
  margin: 30px 0 30px 0;
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

.promo__subheader {
  margin: 0 0 30px 0;
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

.slider {
  display: block;
  margin: 0 auto;
  max-width: 1066px;
}

.slider__item {
  min-width: 0;
}

.slider__item img {
  max-width: 100%;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: -1;
}

.about {
  padding: 100px 0 50px 0;
  background-color: #000;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  padding: 0 10px;
  max-width: 530px;
}

.about__logo {
  margin: 0 10px 50px 10px;
  display: block;
  text-align: center;
}

.about__logo img {
  max-width: 500px;
}

.about__header {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.about__subheader {
  margin: 0 0 30px 0;
  font-size: 18px;
  color: #D9D8DA;
}

.about__text {
  font-size: 18px;
  line-height: 22px;
  color: #D9D8DA;
}

.about__text p {
  margin: 0 0 100px 0;
}

.about__text p:last-child {
  margin: 0;
}

.about__text a {
  color: #D9D8DA;
}

.about__text a:hover {
  text-decoration: underline;
}

.catalog {
  padding: 130px 0 30px 0;
  background-color: #000;
}

.catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__content {
  /** color: #fff **/
}

.catalog__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__header {
  margin: 0 0 30px 0;
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.catalog__descr {
  margin: 0 0 50px 0;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.catalog__brands {
  margin: 0 auto 50px auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__hyundai {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__hyundai img {
  margin: 0 0 10px 0;
  max-width: 100%;
}

.catalog__hyundai p {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.catalog__kia {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__kia img {
  margin: 0 0 10px 0;
  max-width: 100%;
}

.catalog__kia p {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.catalog__genesis {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__genesis img {
  margin: 30px 0 10px 0;
  max-width: 100%;
}

.catalog__genesis p {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.slider-c {
  position: relative;
  padding: 0 50px;
}

.slider-c__item img {
  max-width: 90%;
}

.slider-c__title {
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.slider-c .slick-slide img {
  display: block;
  margin: 0 auto;
}

.slider-c .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 0;
  width: 8px;
  height: 14px;
}

.slider-c .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/catalog/left.svg") 0 0/100% no-repeat;
}

.slider-c .slick-arrow.slick-next {
  right: 0;
  background: url("../img/catalog/right.svg") 0 0/100% no-repeat;
}

.compare {
  padding: 130px 0 30px 0;
  background-color: #000;
}

.compare__header {
  margin: 0 0 30px 0;
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.compare__row {
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.compare__column {
  max-width: 500px;
}

.compare__column:first-child {
  margin: 0 30px 0 0;
}

.compare__subheader {
  font-size: 26px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.compare__subheader span {
  font-size: 43px;
  font-weight: 700;
}

.compare__img img {
  max-width: 100%;
}

.slider-c {
  /** &__row **/
  /**     margin: 30px 0 0 0 **/
  /**     max-width: 200px **/
  /**     display: flex **/
  /**     justify-content: space-between **/
  /** media (max-width: 576px) **/
  /**     max-width: 155px **/
  /** &__column **/
  /**     display: flex **/
  /**     align-items: center **/
  /** &__img **/
  /**     img **/
  /**         max-width:50px  **/
  /** media (max-width: 576px) **/
  /**     max-width: 30px **/
  /** &__text **/
  /**     color: #fff **/
  /**     font-size: 14px **/
  /**     text-transform: uppercase**/
  /** media (max-width: 576px) **/
  /**     font-size: 12px **/
}

.title-compare {
  text-transform: none;
  font-weight: 700;
  text-align: right;
}

.c-compare {
  margin: 0 0 50px 0;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media (max-width: 1140px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .header__logo img {
    max-width: 120px;
  }

  .header__link {
    font-size: 12px;
  }

  .header__phone {
    width: 141px;
  }

  .header__call {
    font-size: 16px;
  }

  .promo__header {
    font-size: 28px;
  }

  .promo__subheader {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 40px 0;
  }

  .header__list i {
    position: absolute;
    right: 0;
    display: inline-block;
  }

  .header__link {
    font-size: 18px;
  }

  .header__img img {
    max-width: 12px;
  }

  body.lock {
    overflow: hidden;
  }

  .promo {
    padding: 50px 0;
  }

  .promo__header {
    font-size: 20px;
  }

  .promo__subheader {
    font-size: 20px;
  }

  .about {
    padding: 80px 0 30px 0;
  }

  .about__text p {
    margin: 0 0 30px 0;
  }

  .catalog {
    padding: 80px 0 30px 0;
  }

  .slider-c__title {
    font-size: 14px;
  }

  .compare {
    padding: 80px 0 30px 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 368px;
  }

  .promo__header {
    font-size: 16px;
  }

  .promo__subheader {
    font-size: 16px;
  }

  .about__logo img {
    max-width: 100%;
  }

  .about__subheader {
    font-size: 14px;
  }

  .about__text {
    font-size: 12px;
  }

  .catalog__header {
    font-size: 22px;
  }

  .catalog__descr {
    font-size: 14px;
  }

  .catalog__hyundai {
    width: 100px;
  }

  .catalog__kia {
    width: 100px;
  }

  .catalog__genesis {
    width: 100px;
  }

  .catalog__genesis img {
    margin: 20px 0 10px 0;
  }

  .compare__header {
    font-size: 22px;
  }

  .compare__subheader {
    font-size: 20px;
  }

  .compare__subheader span {
    font-size: 36px;
  }
}

@media (max-width: 368px) {
  .container {
    max-width: none;
  }

  .header__logo img {
    max-width: 100px;
  }

  .promo__header {
    font-size: 14px;
  }

  .promo__subheader {
    font-size: 14px;
  }

  .about__header {
    font-size: 30px;
  }

  .about__subheader {
    font-size: 12px;
  }

  .about__text {
    font-size: 10px;
    line-height: 16px;
  }

  .catalog__descr {
    font-size: 12px;
  }

  .compare__subheader span {
    font-size: 26px;
  }
}